@use 'variables' as *;
@use './utils/mixins.scss' as *;

.about {
  display: grid;
  font-family: $font-family;

  @include content-padding-inline;

  &__items {
    row-gap: 24px;
  }

  &__second-title {
    font-weight: $font-weight-bigger;

    font-size: 12px;

    color: $color-main;

    margin-bottom: 0;
  }

  @include on-tablet {
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;

    @include content-padding-inline;
  }

  @include on-desktop {
    grid-template-columns: 1fr 1fr;

    column-gap: 24px;

    @include content-padding-inline;
  }

  &__title {
    font-weight: $font-weight-bigger;
    font-size: 24px;
    margin: 0;
  }
  &__time {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
  }
  &__hour {
    font-weight: $font-weight-bigger;
    font-size: $font-size-medium;
    line-height: 27px;
  }
  &__day {
    font-weight: $font-weight-medium;
    font-size: $font-size-medium;
    line-height: 27px;
  }
  &__closed {
    font-weight: $font-weight-bigger;
    font-size: $font-size-medium;
  }

  &__exceptions {
    font-weight: $font-weight-bigger;
    font-size: $font-size-medium;
  }
}
