@use './utils/mixins.scss' as *;
@use 'variables' as *;

body {
  margin: 0;
}

.main {
  background-color: $color-white;
  &__container {
    display: grid;
    row-gap: 100px;
    padding-block: 100px;

    @include on-tablet {
      row-gap: 140px;
      padding-block: 140px;
    }
  }
}
