@use 'variables' as *;
@use './utils/mixins.scss' as *;

.section-title {
  margin: 0;
  font-weight: $font-weight-bigger;
  font-size: 32px;
  line-height: 32px;

  letter-spacing: -1.5px;

  @include on-tablet {
    font-size: 48px;
  }

  @include on-desktop {
    font-size: 48px;
  }

  &--museum {
    margin-bottom: 32px;
  }

  &--now {
    margin-bottom: 8px;
    text-align: center;
  }

  &--more {
    margin-bottom: 40px;
    text-align: center;

    @include on-tablet {
      margin-bottom: 48px;
    }

    @include on-desktop {
      margin-bottom: 48px;
    }
  }

  &--contact {
    margin-bottom: 48px;
    text-align: center;
  }
}
