$font-family: 'Cinzel', sans-serif;
$font-weight-bigger: 700;
$font-weight-medium: 400;
$font-size-medium: 16px;
$color-main: #d12d35;
$color-white: #fff;
$color-input: #f8f8fa;
$tablet-min-width: 576px;
$desktop-min-width: 1024px;
